
* {
	box-sizing: border-box;
}

html {
	height: 100%;
}



.chessboard{
	margin: 0 auto;
	position: relative;
	height: 700px;
	width: 700px;
	border: 10px solid #544c4b;
	background-color: #e57504;
	background-size: 170px 170px;
	background-position: 0 0, 85px 85px;
	background-image: -webkit-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
	                  -webkit-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
	background-image: -moz-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
	                  -moz-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
	background-image: -ms-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
	                  -ms-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
	background-image: -o-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
	                  -o-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
	background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
	                  linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);

}

.chess{
	height: 85px;
	width: 85px;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #808c00;
	background-color: #c9c9c9;

}

.chess:hover{
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}

.color--bottom{
	background-color: #5b0000;
}

.offset--left1{
	left: 85px;
}

.offset--left2{
	left: 255px;
}
.offset--left3{
	left: 425px;
}
.offset--left4{
	left: 595px;
}

.offset--top{
	top: 85px;
}

.offset--topleft1{
	top: 85px;
	left: 170px;
}

.offset--topleft2{
	top: 85px;
	left: 340px;
}

.offset--topleft3{
	top: 85px;
	left: 510px;
}

.offset--topleft4{
	top: 170px;
	left: 85px;
}

.offset--topleft5{
	top: 170px;
	left: 255px;
}

.offset--topleft6{
	top: 170px;
	left: 425px;
}

.offset--topleft7{
	top: 170px;
	left: 595px;
}

.offset--bottom{
	bottom: 0;
}

.offset--bottomleft1{
	bottom: 0;
	left: 170px;
}

.offset--bottomleft2{
	bottom: 0;
	left: 340px;
}

.offset--bottomleft3{
	bottom: 0;
	left: 510px;
}

.offset--bottomleft4{
	bottom: 85px;
	left: 85px;
}

.offset--bottomleft5{
	bottom: 85px;
	left: 255px;
}

.offset--bottomleft6{
	bottom: 85px;
	left: 425px;
}

.offset--bottomleft7{
	bottom: 85px;
	left: 595px;
}

.offset--bottomleft8{
	bottom: 170px;
}

.offset--bottomleft9{
	bottom: 170px;
	left: 170px;
}

.offset--bottomleft10{
	bottom: 170px;
	left: 340px;
}

.offset--bottomleft11{
	bottom: 170px;
	left: 510px;
}